In [5]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import MinMaxScaler

In [3]:
df = pd.read_csv('curated_data.csv')
df.head()

,City,State,Population,Percent employed,Occupation (MBSA),Occupation (S),Occupation (SO),Occupation (RCM),Occupation (PT),Median household income,Homeownership rate,Median home price,Median rent
0,"Acres Green, Colorado",Colorado,2709.0,72.7,61.9,11.9,12.5,8.5,5.2,115536.0,77.4,540000.0,2663.0
1,"Aetna Estates, Colorado",Colorado,1177.0,72.4,12.5,27.3,31.8,17.0,11.4,63887.0,34.3,58200.0,1490.0
2,"Akron, Colorado",Colorado,1681.0,55.4,40.5,19.3,21.5,13.2,5.5,59470.0,70.4,186500.0,1070.0
3,"Alamosa, Colorado",Colorado,9847.0,61.8,34.7,20.7,26.5,6.6,11.4,46969.0,43.8,200200.0,881.0
4,"Alamosa East, Colorado",Colorado,1404.0,68.4,34.9,29.7,17.9,9.1,8.4,44741.0,68.5,219100.0,1100.0

In [4]:
df.shape

(1967, 13)

In [8]:
df.drop(columns=['City', 'State']).to_numpy().shape

(1967, 11)